* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.vista {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#vistaInicio,
#vistaReglas,
#vistaJuego,
#vistaJugadores {
  justify-content: center;
  align-items: center;
  background-color: black;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  width: 60em;
  border-radius: 5%;
  background: linear-gradient(35deg, #d3561c, #000000, #000000, #9800fd);
  background-size: 800% 800%;

  animation: fondo 16s ease infinite;
}

@keyframes fondo {
  0% {
    background-position: 81% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 81% 0%;
  }
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 39em;
  width: 58.5em;
  border-radius: 5%;
  background-color: rgb(0, 0, 0);
}

#principalJuego{
  flex-direction: row;
}

#titulo {
  background: linear-gradient(90deg, #d3561c 0%, #03e9f4 50%, #9800fd 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#botonera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  width: 100%;
}
#botonInicio,
#botonReglas,
#botonContinuar {
  padding: 25px 30px;
  background-color: #000000;
  color: #9800fd;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

#botonReglas {
  color: #d3561c;
}
#botonContinuar {
  color: #03e9f4;
}

#botonInicio:hover,
#botonReglas:hover,
#botonContinuar:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#botonContinuar:hover {
  background: #9800fd;

  box-shadow: 0 0 5px #d3561c, 0 0 25px #d3561c, 0 0 50px #d3561c,
  0 0 200px #d3561c;
}
#reglasTitulo {
  color: #d3561c;
}

.reglas {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(152, 0, 253);
}

#inputs {
  display: flex;
  justify-content: top;
  align-items: space-around;
}

.form {
  height: 2em;
  width: 15em;
  padding: 0.8em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(211, 86, 28,0.2);
  color: rgba(3, 233, 244,0.5);
  transition: all 0.5s;
}

.form:hover {
  border: 2px solid rgba(211, 86, 28,0.5);
}
.form:focus {
  border: 2px solid rgba(211, 86, 28,0.5);
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
}

#enviar {
  width: 15em;
  padding: 0.75em;
  margin-top: 10px;
  font-size: 15px;
  font-weight:bold;
  outline:none;
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
  border-radius: 10px;
  border: 5px solid rgba(211, 86, 28,0.2);
  color: rgba(3, 233, 244,0.8);
  transition: all 0.5s;
}

#enviar:hover {
  border: 5px solid rgba(211, 86, 28, 0.502);
  background: linear-gradient(to left top, #000, #8b5db0) fixed;
}

#enviar:focus {
  background: linear-gradient(to left top, #4e2d69, #000) fixed;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 40%;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.container {
  min-height: 100vh;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.5em;
  color: silver;
  user-select: none;
}

h2 {
  margin-top: 1em;
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: #03e9f4;
  user-select: none;
}

.juego {
  display: grid;
  box-shadow: 0 0 20px rgb(152, 0, 253);
  grid-template-columns: auto auto auto;
  background-color: rgb(211, 86, 28);
  padding: 20px;
}

.casilla {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  transition: all 0.25s ease-in-out;
}

.casilla:hover {
  cursor: pointer;
  background: rgba(9, 255, 0, 0.25);
}

.ocupada:hover {
  cursor: not-allowed;
  background: rgba(255, 18, 1, 0.63);
}

.inactiva {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
}

.ganar {
  background-color: rgb(35, 15, 214);
  color: aqua;
  transition: all 0.25s ease-in-out;
}

#casilla0,
#casilla1,
#casilla2 {
  border-top: none;
}

#casilla0,
#casilla3,
#casilla6 {
  border-left: none;
}

#casilla6,
#casilla7,
#casilla8 {
  border-bottom: none;
}

#casilla2,
#casilla5,
#casilla8 {
  border-right: none;
}

button {
  outline: none;
  background: rgb(35, 15, 214);
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: green;
  color: white;
}

.oculto {
  display: none;
  transition-duration: 2s;
}




div.btn-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: 5em;
}

div.btn-container i{
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #03e9f4;
  font-weight: 500;
}

.btn-color-mode-switch{
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #d3561c80;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #9800fd;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px -2px #03e9f4;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
  display: none;
  background: #FF9800;
  border: none;
  color: #03e9f4;
}

.btn-color-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  background: #4e2d69;
  color: #03e9f4;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
  content: attr(data-on);
  left: 68px;
  background: #d3561c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  /*background: #66BB6A; */
  /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
  display: block;
}